<% include partials/header %>
<div class="row">
    <div class="col-sm-12">
        Employee Created
        <br/>
        Name: <%= name%>
        <br/>
        Salary: <%= salary%>
    </div>
</div>   
<% include partials/footer %>