<% include partials/header %>
<div class="row">
    <div class="col-sm-12">
        Employee Created
        <br/>
        Name:
        <br/>
        Salary:
    </div>
</div>   
<% include partials/footer %>