<% include partials/header %>
<div class="row">
    <div class="col-sm-12">
        Employee Deleted
        <br/>
        Employee Id: <%= deletedEmployeeId %>
    </div>
</div>   
<% include partials/footer %>