<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout01.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup Confirm</title>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="col-sm">
        <h1>Signup Confirm</h1>
        <div>
            You have successfully signed up for Restaurant payment. Login to your account and setup your restaurant.
            <br/>
            <a href="#">Login</a>
        </div>
    </div>
</div>
</body>
</html>
