<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout01.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="col col-sm-6">
        <h1>Signup</h1>
        <form>
            <h4>Admin User</h4>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">Email will be used to login.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>

            <h4>Restaurant</h4>

            <div class="form-group">
                <label for="companyName">Restaurant Name</label>
                <input type="text" class="form-control" id="companyName" aria-describedby="companyNameHelp" placeholder="Company Name">
                <small id="companyNameHelp" class="form-text text-muted">Restaurant name</small>
            </div>



        </form>


    </div>
</div>
</body>
</html>