<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout01.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="col col-sm-6">
        <h1>Signup</h1>
        <form th:object="${signupRequest}" method="post" action="#" th:action="@{/signup}"
              oninput='confirmPassword.setCustomValidity(password.value != confirmPassword.value ? "Passwords do not match." : "")'>

            <h4>Admin User</h4>
            <div class="form-group">
                <label for="firstName">First name</label>
                <input th:field="*{companyUser.firstName}"
                       class="form-control" id="firstName" placeholder="First Name" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last name</label>
                <input th:field="*{companyUser.lastName}"
                       class="form-control" id="lastName" placeholder="Last Name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input th:field="*{companyUser.email}"
                       type="email" class="form-control" id="email" aria-describedby="emailHelp"
                       placeholder="Enter email" required>
                <small id="emailHelp" class="form-text text-muted">Email will be used to login.</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input th:field="*{companyUser.password}" type="password" class="form-control" id="password" placeholder="Enter password" >
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password">
            </div>
            <hr/>
            <h4>Restaurant</h4>
            <div class="form-group">
                <label for="companyName">Restaurant name</label>
                <input th:field="*{company.name}"
                       class="form-control" id="companyName" placeholder="Restaurant Name" required>
            </div>
            <div class="form-group">
                <label for="companyPhone">Phone</label>
                <input th:field="*{company.phone}"
                       class="form-control" id="companyPhone" placeholder="Phone" required>
            </div>
            <div class="form-group">
                <label for="companyStreet">Street</label>
                <input th:field="*{company.street}"
                       class="form-control" id="companyStreet" placeholder="Street" required>
            </div>
            <div class="form-group">
                <label for="companyCity">City</label>
                <input th:field="*{company.city}"
                       class="form-control" id="companyCity" placeholder="City" required>
            </div>
            <div class="form-group">
                <label for="companyState">State</label>
                <input th:field="*{company.state}"
                       class="form-control" id="companyState" placeholder="State" required>
            </div>
            <div class="form-group">
                <label for="companyZip">Zip code</label>
                <input th:field="*{company.zip}"
                       class="form-control" id="companyZip" placeholder="Zip code" required>
            </div>
            <h4>Strip Account</h4>
            <div class="form-group">
                <label for="bankAccount">Account number</label>
                <input th:field="*{bank.stripAccount}"
                       class="form-control" id="bankAccount" placeholder="Account number" required>
            </div>



            <button type="submit" class="btn btn-primary">Submit</button>

        </form>


    </div>
</div>
</body>
</html>