*.ipr
*.iws
*.iml
*.class
*.orig
*.Backup
*.Base
*.Local
*.Remote
.htaccess
.DS_Store
local.properties
.directory

.svn/
.git/

**/classes/
**/build/
**/gen/
**/.idea/
**/.git/
**/.svn/
**/target/
**/.gradle/
node_modules
**/node_modules/
**/.vscode/
**/.settings/
.classpath
.project
!bin/