@import "../../theme";

.fundContainer {
    border-radius: 2px;
    // background-color: aqua;
    // border: 1px solid #aaa;
    padding: 3%;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.40);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.40);
}

.fundHeader {
    background-color: brown;
}

.fundContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    @media screen and (max-width: $screen-break) {
    }
}

.fundContainerLeft {
    width: 60%;
    background-color: green;
    @media screen and (max-width: $screen-break) {
    }
}

.fundContainerRight {
    width: 40%;
    background-color: purple;
    @media screen and (max-width: $screen-break) {
    }
}

$fundGridBorderColor: rgb(70, 70, 70);

table.fundGrid {
    border-collapse: collapse;
    margin: 0 auto;
}

table.fundGrid th, table.fundGrid td {
    border: 1px solid $fundGridBorderColor;
    padding: .5vw;
    @media screen and (max-width: $screen-break) {
        padding: 2vw;
    }
}

table.fundGrid td {
    @extend .textLarge;
}

table.fundGrid th {
    @extend .textLarge, .textBold;
    text-align: left;
}
