*.ipr
*.iws
*.iml
*.class
*.orig
*.Backup
*.Base
*.Local
*.Remote
.htaccess
.DS_Store
local.properties


.svn/
.git/

**/classes/
**/build/
**/gen/
**/.idea/
**/.git/
**/.svn/
**/target/
**/.gradle/
node_modules
**/node_modules/