*.ipr
*.iws
*.iml
*.class
*.orig
*.Backup
*.Base
*.Local
*.Remote
.htaccess
.DS_Store
local.properties
.directory
*.log

.svn/
.git/

**/classes/
**/build/
**/gen/
**/.idea/
**/.git/
**/.svn/
**/target/
**/.gradle/
node_modules
**/node_modules/
**/.vscode/
**/.settings/
.classpath
**/bin/
.project
.metadata
RemoteSystemsTempFiles
package-lock.json
yarn.lock

node_installation

venv
