<div>
    Hi ${name},
    <p>
        Please click this link to confirm registration.
    </p>
    <p>
        <a href="${confirmation_link}">${confirmation_link}</a>
    </p>
    <p>
        Thank you,<br/>
        masjiddashboard.com
    </p>
</div>