html {
    position: relative;
    min-height: 100%;
}

body {
    /* Padding to push content under nav bar */
    padding-top: 0px;
    /* Margin bottom by footer height */
    margin-bottom: 0px;
}

form {
    width: 80%;
    margin: 0 auto;
    font-size: 120%;
}

label, input {
    display: inline-block;
}

label {
    width: 30%;
    text-align: right;
}

label + input {
    width: 30%;
    margin: 0 30% 15px 4%;
}

label + select {
    width: 30%;
    margin: 0 30% 15px 4%;
}

select + input {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.center {
    /*clear: both;*/
    margin: 0 auto;
    text-align: center;
    display: block;
}
