<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="~{fragments/common-head-elements :: common-head-elements}"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Restaurant Payment</title>
</head>
<body>
<header>
    <div class="container">
        <div th:replace="~{fragments/header01 :: header01}">
            Static Header
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div layout:fragment="content">
            <p>Static content</p>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div th:replace="~{fragments/footer01 :: footer01}">
            Footer Header
        </div>
    </div>
</footer>
<th:block th:replace="~{fragments/common-js-scripts :: common-js-scripts}"/>
</body>
</html>