
$backgroundColorMonth: #6392b0;
$backgroundColorPrayer: #cdb622;
$backgroundColorAzanIqama: #7e7e7e;

.prayerMonthGrid {
  text-align: center;
  display: inline-block;
  border: 0px solid #878787;
  border-spacing: 0;
  border-collapse: collapse;
}

.prayerMonthGrid th, td {
  border: 1px solid #878787;
}

.prayerMonthGrid tr:nth-child(even) {
  background-color: #ededed;
}

.prayerMonthGrid tr:nth-child(odd) {
  background-color: #ffffff;
}

.prayerMonthGrid tr:hover {
  background-color: #dce0f4;
}

.prayerMonthGrid tr:nth-child(1) th {
  font-size: 3em;
  background-color: #6392b0;
  color: white;
  font-weight: 100;
  border: 1px solid #4f7d9b;
}

.prayerMonthGrid tr:nth-child(2) th {
  font-size: 1.5em;
  background-color: #cdb622;
  color: white;
  font-weight: 200;
  border: 1px solid #a99221;
  white-space: nowrap;
  padding: 8px;
  text-align: center;
}

.prayerMonthGrid thead tr:last-child td {
  background-color: #7e7e7e;
  color: white;
  border: 1px solid #646464;
  white-space: nowrap;
  padding: 8px;
  text-align: center;
}
