@import "./Calendar.module";

.searchFieldContainer, .searchButtonContainer{
  display: none;
}

.monthTable thead tr th, .monthTable thead tr td, .monthTable tbody tr td {
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}
