@import "../theme";

$headerBackground: $color1BackgroundDark;
$headerColor: $colorTextLight;

.container {
  background-color: $headerBackground;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: 1px 2px 4px -1px rgba(0, 0, 0, 0.40);
}

.logo {
  width: 70px;
  // background-color: #666666;
  /*
  @media screen and (max-width: $screen-break) {
    width: 20vw;
  }
  */
}

.logoPath {
  fill: $headerColor;
}

.panelLeft {
  // background-color: red;
  flex: 0 0 240px;
  display: flex;
  padding: 5px 0 5px 20px;
  text-decoration: none;
}

.panelRight {
  //background-color: green;
  display: flex;
  flex: 0 0 240px;
  padding: 5px 20px 5px 0;
  align-content: end;
}

.panelCenter {
  //background-color: brown;
  flex: 1;
  display: flex;
  align-content: end;
  padding: 5px 20px;
}

.appName {
  // background-color: #a99221;
  font-weight: 200;
  flex: 1;
  height: auto;
  align-self: flex-end;
  justify-content: center;
  margin-left: 10px;
  color: $headerColor;
  text-align: center;
}

.navContainer {
  //background-color: aquamarine;
  flex: 1;
  height: auto;
  align-self: flex-end;
  justify-content: center;
  text-align: center;
  color: $headerColor;
}

.profile {
  //background-color: #a50cb0;
  flex: 1;
  height: auto;
  align-self: flex-end;
  //justify-content: flex-end;
  text-align: right;
  color: $headerColor;
}
