$h1-color: #696969;
// Dashboard colors
$color1: #b8b72fff;
$color2: #ecedd1ff;
$colorTextLight: #f2f2f2;
$colorTextDark: black;

// Admin Colors
$color1BackgroundDark: #4185ae;
$color1Light: rgba(255, 255, 255, 0.65);

$color2BackgroundWhite: #f8f8f8;


$screen-break: 959px;

// ########## Text

.heading1 {
  font-size: 2.2vw;
  @media screen and (max-width: $screen-break) {
    font-size: 6vw;
  }
}

.heading2 {
  font-size: 2vw;
  @media screen and (max-width: $screen-break) {
    font-size: 5vw;
  }
}

.heading3 {
  font-size: 1.8vw;
  @media screen and (max-width: $screen-break) {
    font-size: 4vw;
  }
}

.heading4 {
  font-size: 1.6vw;
  @media screen and (max-width: $screen-break) {
    font-size: 3.5vw;
  }
}

.heading5 {
  font-size: 1.4vw;
  @media screen and (max-width: $screen-break) {
    font-size: 3vw;
  }
}

.textXLarge {
  font-size: 3vw;
  @media screen and (max-width: $screen-break) {
    font-size: 4vw;
  }
}

.textLarge {
  font-size: 1.2vw;
  @media screen and (max-width: $screen-break) {
    font-size: 3vw;
  }
}

.textRegular {
  font-size: 1vw;
  @media screen and (max-width: $screen-break) {
    font-size: 2vw;
  }
}

.textSmall {
  font-size: .7vw;
  @media screen and (max-width: $screen-break) {
    font-size: 1.5vw;
  }
}

.textXSmall {
  font-size: .3vw;
  @media screen and (max-width: $screen-break) {
    font-size: .5vw;
  }
}

.textBold {
  font-weight: bold;
}

.textLighter {
  font-weight: lighter;
}

// ########## Margins
.vMargin1 {
  margin-top: .2vw !important;
  @media screen and (max-width: $screen-break) {
    margin-top: 1vw !important;
  }
}

.vMargin2 {
  margin-top: .5vw !important;
  @media screen and (max-width: $screen-break) {
    margin-top: 1.5vw !important;
  }
}

.vMargin3 {
  margin-top: 1vw !important;
  @media screen and (max-width: $screen-break) {
    margin-top: 4vw !important;
  }
}


.vMargin4 {
  margin-top: 1.5vw !important;
  @media screen and (max-width: $screen-break) {
    margin-top: 5vw !important;
  }
}

.vMargin5 {
  margin-top: 2vw !important;
  @media screen and (max-width: $screen-break) {
    margin-top: 6.5vw !important;
  }
}

.vMargin6 {
  margin-top: 3vw !important;
  @media screen and (max-width: $screen-break) {
    margin-top: 9vw !important;
  }
}

.vMargin7 {
  margin-top: 4vw !important;
  @media screen and (max-width: $screen-break) {
    margin-top: 12vw !important;
  }
}

.vMargin8 {
  margin-top: 5.5vw !important;
  @media screen and (max-width: $screen-break) {
    margin-top: 16vw !important;
  }
}

.vMargin9 {
  margin-top: 7vw !important;
  @media screen and (max-width: $screen-break) {
    margin-top: 22vw !important;
  }
}
