@import "../../business/CompanyDashboard/theme";

.container {
  display: flex;
  flex-direction: column;
}


.formControl {
  margin-top: 20px !important;
  min-width: 250px;
}

.inputControl {
  display: block;
  // margin: 5px;
  min-width: 250px !important;
  width: 250px;
}
