body {font-family: verdana, sans-serif; margin: 0; color: 636363; font-size: 12;}
table{font-size: 12px;}
div {font-size: 12px;}
a {border:none;}
a:link {color:#599bff; text-decoration: none; border:none;}    /* unvisited link */
a:visited {color:#599bff; text-decoration: none; border:none;} /* visited link */
a:hover {color:#599bff; text-decoration: underline; border:none;}   /* mouse over link */
a:active {color:#599bff;text-decoration: none; border:none;}  /* selected link */
input {font-size: 12px; border: 1px solid; color:#222222;}
textarea {font-size: 12px; border: 1px solid; color:#222222;}
img {border:none;}
label {font-weight:bold;}
.order-table {
	border-collapse: collapse;
}

.order-table-header {
	text-align: center;
	background: none repeat scroll 0 0 #E5E5E5;
	border-bottom: 1px solid #BBBBBB;
	padding: 10px;
}

.order-table-odd-row {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
	border-top: 1px solid #BBBBBB;
}

.order-table-even-row {
	text-align: center;
	background: none repeat scroll 0 0 #E0E0E0;
	border-top: 1px solid #BBBBBB;
}