*.ipr
*.iws
*.iml
*.class
*.orig
*.Backup
*.Base
*.Local
*.Remote
.htaccess
.DS_Store
.directory
local.properties

**/classes/
**/build/
**/gen/
**/.idea/
**/.git/
**/target/
**/.gradle/
**/node_modules/