html, body {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  height: 100%

}

.calendarContainer {
}

.calendarContainer iframe {
  width: 100%;
  border: 0;
}

.calendarContainer iframe:focus {
  outline: none;
}

.calendarContainer iframe[seamless] {
  display: block;
}
