@import "../business/CompanyDashboard/theme";

$borderRadius: 10px;

.centerFlex {
  display: flex;
  justify-content: center;
  align-content: center;
}

.container {
  @extend .centerFlex;
  background: linear-gradient(#8d9fb0, #ffffff);
  height: 100%;
  padding: 50px;
}

.mainBox {
  background-color: #ebebeb;
  width: 80%;
  // height: 200px;
  border-radius: $borderRadius;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.40);
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $screen-break) {
    flex-direction: column;
  }
}

.welcome {
  @extend .centerFlex;
  background-color: #4185ae;
  flex-grow: 1;
  color: white;
  border-radius: $borderRadius 0 0 $borderRadius;
  flex-direction: column;
  @media screen and (max-width: $screen-break) {
    border-radius: $borderRadius $borderRadius 0 0;
  }

}

.login {
  @extend .centerFlex;
  background-color: #f4f4f4;
  flex-grow: 1;
  border-radius: 0 $borderRadius $borderRadius 0;
  flex-direction: column;
  @media screen and (max-width: $screen-break) {
    border-radius: 0 0 $borderRadius $borderRadius;
  }
}

.content {
  @extend .centerFlex;
  flex-direction: row;
}

.contentCenter {
}