<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="header01">
    <div class="row">
        <div class="col-sm-6">
            <a th:href="@{/}">Home</a>
            |
            <a th:href="@{/signup}">Signup</a>
        </div>
        <div class="col-sm-6">
            <div style="text-align: right">
                <a href="http://localhost:8084">Customer POS</a>
                |
                <a href="http://localhost:8086">Fulfilment</a>
            </div>
        </div>



    </div>

</div>
</body>
</html>