.container {
  background-color: #b4b4b4;
  padding: 20px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  //text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.40);
}