<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sc.android48_fragment.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sc.android48_fragment.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sc.android48_fragment.app.Fragment01" />
        <activity
            android:name="com.sc.android48_fragment.app.Fragment02"
            android:label="@string/title_activity_fragment02" >
        </activity>
        <activity
            android:name="com.sc.android48_fragment.multi.Fragment03Multi"
            android:label="@string/title_activity_fragment03_multi" >
        </activity>
        <activity
            android:name="com.sc.android48_fragment.viewpager.Fragment04ViewPager"
            android:label="@string/title_activity_fragment04_view_pager" >
        </activity>
        <activity
            android:name="com.sc.android48_fragment.fragmentwithdrawer.Fragment05MenuDrawer"
            android:label="@string/title_activity_fragment05" >
        </activity>
    </application>

</manifest>
