@import "../../layout/theme";

.classViewContainer {
  width: fit-content;
  height: fit-content;
  padding: 20px 0 !important;
}

.classViewValue {
  display: inline-block;
  background-color: rgba(245, 245, 245, 0.40);
  border-radius: 2px;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.30);
  min-width: 200px;
  font-size: larger;
}

.classViewLabel {
  display: inline;
  position: absolute;
  margin-top: -20px;
  margin-right: 10px;
  font-weight: 400;
  font-size: smaller;
  min-width: 100px;
  color: rgba(0, 0, 0, 0.6);
}

.classInputContainer {
  margin-bottom: 20px !important;
  display: inline-block;

}

.classInputValue {
  display: inline-block;
  min-width: 200px;
  width: 200px;
}