#blueBoxContainer {
    width: 100%;
    height: 100px;
    background-color: lightblue;
    padding: 20px;
    margin-top: 30px;
}

#blueBoxContainer.ng-hide-add {
    transform: rotateZ(0);
    transform-origin: right;
    transition: all 0.5s ease-in-out;
}

#blueBoxContainer.ng-hide-add.ng-hide-add-active {
    transform: rotateZ(-135deg);
}

#blueBoxContainer.ng-hide-remove {
    transform: rotateY(90deg);
    transform-origin: left;
    transition: all 0.5s ease;
}

#blueBoxContainer.ng-hide-remove.ng-hide-remove-active {
    transform: rotateY(0);
}