@import "theme";

$sideBoxBackgroundRatio: 1.17;
$sideBoxPaddingRatio: .095;
$centerBoxBackgroundRatio: 1.40;
$centerBoxPaddingRatio: .08;

.main {
    padding-bottom: 20px;
}

.mainCenter {
    @extend .main;
    background-color: #a5d082;
}

.mainLeftSide {
    @extend .main;
    background-color: #a7d9d3,
}

.mainRightSide {
    @extend .main;
    background-color: #e5afd3;
}

.boxBackground {
    text-align: center;
    color: black;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    //height: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
};

.centerBoxBackground {
    @extend .boxBackground;
    background-color: #ace7d9;
    padding-top: calc(#{$centerBoxBackgroundRatio} * 100%);
    margin-top: 5%;
};

.sideBoxBackground {
    @extend .boxBackground;
    background-color: #8167dd;
    padding-top: calc(#{$centerBoxBackgroundRatio} * 100%);
    margin-top: 20;
    // margin-top: 50%;
    @media screen and (max-width: $screen-break) {
        background-color: #ddb167;
        margin-top: 20px;

    }
};

.box {
    text-align: center;
    color: black;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1000px;
    overflow: hidden;
    position: relative;
    //width: 100%;
};

.sideBox {
    @extend .box;

}


/*
const sideBoxBackground = {
    ...boxBackground,
    backgroundColor: "#ddb167",
    paddingTop: `calc(${sideBoxBackgroundRatio} * 100%)`,
    marginTop: 20,
    [theme.breakpoints.up("md")]: {
        marginTop: "30%",
    }
};
*/