.container {
  // background-color: #a4a4a4;
  padding-bottom: 10px;
  min-width: 550px;
}


.container ul {
  list-style-type: none;
  // background: teal;
  overflow: hidden;
}

.container ul li {
  float: left;
  height: 40px;
}