*.ipr
*.iws
*.iml
*.class
*.orig
*.Backup
*.Base
*.Local
*.Remote
.htaccess
.DS_Store
local.properties
package-lock.json

**/classes/
**/build/
**/gen/
**/.idea/
**/.git/
**/target/
**/.gradle/
node_modules
**/node_modules/

