<div class="row" style="background-color:lightseagreen; color:aliceblue; margin-bottom: 20px">
    <div class="col-sm-12" style="text-align: center; padding: 10px">
        <h1>Register User</h1>
        <h3><%= pageTitle %></h3>
    </div>
</div>