# OS & editor files
.DS_Store
node_modules
*.log
*.lock
*.keystore

# IDE settings
.vscode/
.idea/

# Git
.git/
.gitignore

# Tests & local dev
__tests__/
coverage/
*.test.js
*.test.ts
*.spec.js
*.spec.ts

# Build outputs
android/
ios/
build/
dist/
web-build/

# Cache
npm-cache/
yarn-cache/
.cache/
.expo/

# Sensitive files (you should handle credentials via EAS secrets instead)
*.p12
*.jks
*.keystore

# Other large assets (if not needed at build time)
assets/dummy-images/
docs/
screenshots/



android/**
angular2/**
angularjs_01/**
aws/**
bootstrap01/**
cloudflare/**
css_html/**
diagrams/**
gradle/**
graphics/**
graphql/**
groovy/**
ios/**
java/**
java-unit-test/**
javascript/**
jmeter/**
Kafka/**
kotlin/**
Kubernetes/**
libGDX/**
lunch_and_learn/**
micronaut/**
mongodb/**
nodejs/**
php/**
polymer/**
projects/**
python/**
react_native/**
react_native_expo/**
reactjs/**
redis/**
rxjava/**
sonarqube/**
spring_framework/**
spring_security/**
springboot/**
wordpress/**