<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Velocity</title>
</head>
<body>
<h1>
    Conditionals (If, Else if, Else)
</h1>
#set($myBoolean1 = true)

#if($myBoolean1)
    $myBoolean1 is TRUE
#end

<hr>
#set($myBoolean2 = 3 < 4)

#if(!$myBoolean2)
    3 > 4
#elseif(3 == 5)
    3 == 5
#elseif(3 != 5 && 3 < 1)
    3 == 5
#else
    3 < 4 and 3 != 5
#end

</body>
</html>