.main_nav > ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.main_nav > ul > li {
  float: left;
}

.main_nav > ul > li > button {
  display: block;
  font-size: x-large;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  border: none;
  background-color: #333333;
  cursor: pointer;
}

.main_nav > ul > li > button:hover {
  background-color: #111111;
}

.main_nav > ul > li > button.selected {
  background-color: #405571;
}