/*
These are common styles. Have nothing to do with the examples.
*/
#menu {
    background: rgb(255, 243, 235); 
    height: 60px; 
    padding: 20px; 
    /* color: white; */
    border-bottom: 2px solid rgb(208, 208, 208);
    color: rgb(208, 208, 208)
}
#menu a {
    color: rgb(77, 130, 205)
}
#menu a:hover {
    color: rgb(185, 141, 53)
}
body {
    background: rgb(241, 241, 241);
}