body,div,p,table,td,tr,img{margin:0;padding:0}
body {font-family: verdana, sans-serif; margin: 0; color: 636363; font-size: 15px;}
td{vertical-align:top;}
.table4{
	table-layout:fixed;
	border: 0;	
	padding: 0;
	border-collapse:collapse;
	border-spacing: 0;
}
.table4tl{
	width: 8px;
	height: 40px;
	background: url(images/small_table_4_top_left.jpg) no-repeat;
}
.table4tm{
	font-size:20;
	
	background: url(images/small_table_4_top_middle.jpg) repeat;
}
.table4tr{
	width: 8px;
	height: 40px;
	background: url(images/small_table_4_top_right.jpg) no-repeat;
}
.table4ml{
	width: 8px;
	background: url(images/small_table_4_left_middle.jpg) repeat;
}
.table4mr{
	width: 8px;
	background: url(images/small_table_4_right_middle.jpg) repeat;
}
.table4bl{
	width: 8px;
	height: 16px;
	background: url(images/small_table_4_bottom_left.jpg) no-repeat;
}
.table4bm{
	background: url(images/small_table_4_bottom_middle.jpg) repeat;
}
.table4br{
	width: 8px;
	height: 16px;
	background: url(images/small_table_4_bottom_right.jpg) no-repeat;
}
