body {
  margin: 0 10%;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
}

input {
  font-size: 20px;
  padding: 5px;
  margin: 10px 0;
  border: solid 1px #c4c4c4;
}

button {
  font-size: 20px;
  padding: 5px;
}

.section {
  margin: 20px;
}

.nav {
  padding: 20px 20px;
  background-color: beige;
}

.nav > a {
  padding: 5px 10px;
  text-decoration: none;
  color: darkblue;
  display: block;
}

.nav > a:hover {
  background-color: #8b6632;
}

.nav > a.active {
  background-color: darkblue;
  color: snow;
}

.nav > span {
  font-weight: bold;
  color: #7a6649;
}
